<!DOCTYPE html>
<html lang = "en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Section 2 Harrier: {% block title %}{% endblock %}</title>

  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Section 2 Harrier</h1>
        <div class = "container">
          <ul class = "list-inline">
            <li><a href="#">Outdoor Track</a></li>
            <li><a href="#">Indoor Track</a></li>
            <li><a href="#">Cross Country</a></li>
          </ul>
        </div>
      </div>
      <main>
        {% block main %}{% endblock %}
      </main>
    </div>
  </body>

</html>
